body { 
    display: grid;
    grid-template-areas: 
      "nav header header"
      "nav article ads"
      "nav footer footer";
    grid-template-rows: 80px 1fr 70px;  
    grid-template-columns: 20% 1fr 15%;
    height: 100vh;
    margin: 0;
}  
nav{
    padding: 1.2em;
    background-color: pink;
}
footer{
    padding: 1.2em;
    background-color: brown;
}
article{
    padding: 1.2em;
    background-color: white;
}
div{
    padding: 1.2em;
    background-color: aqua;
}
header{
    padding: 1.2em;
    background: brown;
}
#pageHeader {
    grid-area: header;
}
#pageFooter {
    grid-area: footer;
}
#mainArticle { 
    grid-area: article;      
}
#mainNav { 
    grid-area: nav; 
}
#siteAds { 
    grid-area: ads; 
}