nav{
    background-color: aquamarine;
    margin: -10px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0.5em;
    margin: 0;
}
nav li{
    margin: 0 1em;
}
nav li.logo{
    margin-right: auto;
}
nav img.logo{
    width: 30%;
}